# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.egg
*.egg-info/
dist/
build/
.env
.venv
venv/
Pipfile.lock
poetry.lock
.pytest_cache/
.mypy_cache/
.cache/
.ipynb_checkpoints/

# Docker
*.tar
*.img
docker-compose.override.yml
.docker/
docker-compose*.log

# macOS
.DS_Store
.AppleDouble
.LSOverride
Icon?
._*
.Spotlight-V100
.Trashes
.fseventsd
.VolumeIcon.icns

# Ubuntu / Linux system
*~
.nfs*
.cache/
.gnome/
.local/
Trash-*/

# Bash
*.log
*.bak
*.swp
*.swo
*.tmp
*.out

# Global
*.orig
*.old
*.save
*.pid
*.pid.lock
